Exercise 2: <h1> Data Science Tools and Ecosystem </h1>

Exercise 3: 

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 4:

Some of the popular languages that Data Scientists use are:
1. R
2. Scala
3. Python
4. Julia
5. SQL

Exercise 5:

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. TensorFlow
4. Scikit-Learn
5. Keras

Exercise 6:

| Data Science Tools | Publisher | Use |
| --- | --- | --- |
| SPSS | IBM | Social Science Research |
| Spark | Apache Software Foundation | Real Time Big Data Analytics |
| BigML | BigML | ML - Big Variety |
| MATLAB | Mathworks | Academic Research - Hard Sciences and Mathematics|
| Excel | Microsoft | Everything and More |

Exercise 7:

Below are a few examples of evaluating arithmetic expressions in Python.

Exercise 8:

This a simple arithmetic expression to mutiply then add integers

In [16]:
(3*4)+5

17

Exercise 9:

This will convert 200 minutes to hours by diving by 60

In [17]:
200 /60

3.3333333333333335

Exercise 10:

- Objective 1: Explore popular data science tools
- Objective 2: Get familiar with Jupyter
- Objective 3: Begin the IBM vendor lockin process

Exercise 11:

Author: Ken Stibler